<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/lib/jquery-1.11.2.min.js"></script>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
